.container {
  padding: 0 1rem;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.link {
  font-size: 1.5rem;
  margin: 0 1rem;
}
.link:hover {
  color: #0070f3;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 1rem 0;
  line-height: 1.15;
  font-size: clamp(1.75rem, 4vw, 4rem);
}
.subtitle {
  margin: 0;
  line-height: 1.15;
  font-size: clamp(1.5rem, 4vw, 3rem);
}
.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: clamp(1.25rem, 4vw, 2rem);
}
.title span, .subtitle span, .description span {
  color: #0070f3;
  text-shadow: 2px 2px 5px #238aff78;
}

.title,
.description, 
.subtitle {
  text-align: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 50%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#002958, #0070f3);
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 300px;
  height:300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #7ebaff;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
/* BLOG SECTION */
.imageContainer {
  position: relative;
  width: 25%;
  height: 50%;
  border-radius: 5px;
  margin: 0 auto;
}
.buttonToggleTheme {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: clamp(1.25rem, 4vw, 1.5rem);
  cursor: pointer;
}

/* LOADER SECTION */
.ldsRoller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsRoller div {
  animation: ldsRoller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.ldsRoller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.ldsRoller div:nth-child(1) {
  animation-delay: -0.036s;
}
.ldsRoller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.ldsRoller div:nth-child(2) {
  animation-delay: -0.072s;
}
.ldsRoller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.ldsRoller div:nth-child(3) {
  animation-delay: -0.108s;
}
.ldsRoller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.ldsRoller div:nth-child(4) {
  animation-delay: -0.144s;
}
.ldsRoller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.ldsRoller div:nth-child(5) {
  animation-delay: -0.18s;
}
.ldsRoller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.ldsRoller div:nth-child(6) {
  animation-delay: -0.216s;
}
.ldsRoller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.ldsRoller div:nth-child(7) {
  animation-delay: -0.252s;
}
.ldsRoller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.ldsRoller div:nth-child(8) {
  animation-delay: -0.288s;
}
.ldsRoller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes ldsRoller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1120px) {
  .imageContainer {
    width: 65%;
    height: 50%;
  }
}
